<div>
    <a href="#/templates">Go Back</a>
    <br><br>
    <div class="col-md-4">
        <img src="img/blue.jpg">
    </div>
    <div class="col-md-8">
        <h4>Blue Template</h4>
        <p>This standards compliant, simple, fixed width website template is released as an 'open source' design (under a Creative Commons Attribution 3.0 Licence), which means that you are free to download and use it for anything you want (including modifying and amending it). 
        This template is written entirely in HTML5 and CSS, and can be validated using the links in the footer.
        This template is a fully functional 5 page website, with an examples page that gives examples of all the styles available with this design.
        Click  on Buy it now link to buy additional features.
        </p>        
        <h3>19.99</h3>
        BUY IT
    </div>
</div>